.section-title {
	max-width: 1140px;
	border-bottom: 1px solid #000;
	font-weight: 400;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.04em;
	margin: 0;
	padding: 22px 0;
}

@media only screen and (max-width: 320px) {
	.section-title {
		font-size: 18px;
		line-height: 22px;
		padding: 28px 0;
	}
}
