.app__content {
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.app__header {
	max-width: 1280px;
	min-width: 320px;
	box-sizing: border-box;
	background-color: #fafafa;
}
.app__main {
	max-width: 1280px;
	min-width: 320px;
	box-sizing: border-box;
	background-color: #fafafa;
}

.app__footer {
	max-width: 1280px;
	min-width: 320px;
	box-sizing: border-box;
	margin-top: auto;
	background-color: #f8f8f8;
}

.app__button {
	border: none;
	cursor: pointer;
	transition: opacity 0.3s;
}

.app__button:hover {
	opacity: 0.8;
}

.app__link {
	text-decoration: none;
	cursor: pointer;
	transition: opacity 0.3s;
}

.app__link:hover {
	opacity: 0.7;
}
