.footer {
	padding: 60px 70px 20px;
}

.footer__top {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #e8e8e8;
}

.footer__title {
	margin: 20px 0;
	max-width: 320px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #a0a0a0;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding-top: 20px;
}

.footer__copyright {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
}

.footer__nav {
	display: flex;
	justify-content: flex-end;
}

.footer__list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer__list-item {
	margin-left: 20px;
}

.footer__link {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
}

@media only screen and (max-width: 768px) {
	.footer {
		padding: 60px 30px 20px;
	}
}

@media only screen and (max-width: 320px) {
	.footer {
		padding: 60px 10px 20px;
	}

	.footer__title {
		max-width: 300px;
		font-size: 12px;
		line-height: 15px;
	}

	.footer__bottom {
		padding-top: 30px;
		flex-direction: column-reverse;
	}

	.footer__copyright {
		font-size: 12px;
		line-height: 15px;
		color: #a0a0a0;
	}

	.footer__list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer__list-item {
		margin-left: 0;
		margin-bottom: 12px;
	}

	.footer__list-item:last-child {
		margin-bottom: 30px;
	}

	.footer__link {
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		color: #000000;
	}
}
