.techs {
	padding: 80px 70px 100px;
	background-color: #f5f5f5;
}

.techs__title {
	margin-bottom: 90px;
}

.techs__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.techs__content-title {
	max-width: 600px;
	font-weight: 400;
	font-size: 50px;
	line-height: 58px;
	text-align: center;
	letter-spacing: -0.04em;
	margin: 0 0 26px;
}

.techs__desc {
	max-width: 460px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.04em;
	margin: 0 0 100px;
}

.techs__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	max-width: 690px;
	width: 100%;
}

.techs__item {
	background-color: #e8e8e8;
	border-radius: 10px;
	max-width: 90px;
	width: 100%;
	padding: 20px 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: -0.04em;
}

@media only screen and (max-width: 768px) {
	.techs {
		padding: 70px 50px 90px;
	}

	.techs__title {
		margin-bottom: 80px;
	}

	.techs__content-title {
		margin: 0 0 22px;
	}

	.techs__desc {
		font-size: 12px;
		line-height: 18px;
		margin: 0 0 83px;
	}

	.techs__list {
		max-width: 648px;
	}

	.techs__item {
		max-width: 84px;
		padding: 21px 0;
		font-size: 12px;
		line-height: 15px;
	}
}

@media only screen and (max-width: 720px) {
	.techs__item {
		max-width: 84px;
		padding: 21px 0;
		font-size: 12px;
		line-height: 15px;
	}

	.techs__list {
		max-width: 300px;
		flex-wrap: wrap;
	}

	.techs__item {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 414px) {
	.techs {
		padding: 49px 18px 70px;
		background-color: #fafafa;
	}

	.techs__title {
		margin-bottom: 60px;
	}

	.techs__content-title {
		font-size: 30px;
		line-height: 36px;
	}

	.techs__desc {
		font-size: 11px;
		line-height: 16px;
		margin: 0 0 52px;
	}

	.techs__list {
		max-width: 178px;
		flex-wrap: wrap;
	}

	.techs__item {
		margin-bottom: 10px;
	}
}
