.login {
	padding: 70px;
	background-color: #fafafa;
}

.login__content {
	margin: 0 auto;
	max-width: 396px;
	display: flex;
	flex-direction: column;
}

.login__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin: 36px 0 40px;
}

.login__form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.login__form-label {
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #a0a0a0;
	margin-bottom: 10px;
}

.login__form-input {
	padding: 14px;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	border: 1px solid transparent;
	background-color: #f4f4f4;
	border-radius: 8px;
	outline: none;
	transition: all 0.5s;
	box-sizing: border-box;
}

.login__form-input::placeholder {
	color: #a0a0a0;
}

.login__form-input:focus {
	border-color: #3456f3;
}

.login__error {
	padding: 0 20px;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #ee3465;
}

.login__form-submit-btn {
	margin-top: 158px;
	padding: 15px;
	border: none;
	border-radius: 3px;
	background-color: #3456f3;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #ffffff;
}

.login__form-submit-btn:disabled {
	color: #c2c2c2;
	background-color: #f4f4f4;
}

.login__redirect {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
}

.login__redirect-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #a0a0a0;
	margin: 0;
}

.login__redirect-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #3456f3;
}

@media only screen and (max-width: 768px) {
	.login {
		padding: 232px 70px 50px;
	}
}

@media only screen and (max-width: 424px) {
	.login {
		padding: 56px 30px 30px;
	}

	.login__content {
		align-items: center;
	}

	.login__title {
		margin: 45px 0 81px;
	}

	.login__form-submit-btn {
		margin-top: 247px;
		font-size: 12px;
		line-height: 15px;
	}

	.login__redirect-text {
		font-size: 12px;
		line-height: 15px;
	}

	.login__redirect-link {
		font-size: 12px;
		line-height: 15px;
	}
}
