.not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fafafa;
	padding: 60px;
}

.not-found_position_center {
	margin: 190px auto 0;
}

.not-found__title {
	font-weight: 400;
	font-size: 140px;
	text-align: center;
	margin: 0 0 9px;
}

.not-found__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	margin: 0 0 184px;
}

.not-found__btn {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #3456f3;
	background-color: #fafafa;
}

@media only screen and (max-width: 768px) {
	.not-found_position_center {
		margin: 352px auto 0;
	}
}

@media only screen and (max-width: 320px) {
	.not-found {
		padding: 0;
	}

	.not-found_position_center {
		margin: 332px auto 0;
	}

	.not-found__title {
		font-size: 80px;
		margin: 0 0 13px;
	}

	.not-found__text {
		font-size: 12px;
		line-height: 15px;
		margin: 0 0 282px;
	}

	.not-found__btn {
		font-size: 12px;
		line-height: 15px;
	}
}
